{% macro render_field(field) %}
  <div class="form-group{% if field.errors|length > 0 %} has-error{% endif %}">
    <div class="col-xs-3">{{field.label}}</div>

    {% if session['admin'] %}
      {% if field.label.text == 'Your Email' or field.label.text == 'Date/Time' %}
      <div class="col-xs-6">
        {{field(class_='form-control', disabled=true)|safe}}
        {% if field.errors %}
          {% for error in field.errors %}
            <small class="help-block">{{ error }}</small>
          {% endfor %}
        {% endif %}
      </div>
      {% else %}
      <div class="col-xs-6">
        {{field(class_='form-control')|safe}}
        {% if field.errors %}
          {% for error in field.errors %}
            <small class="help-block">{{ error }}</small>
          {% endfor %}
        {% endif %}
      </div>
      {% endif %}

    {% else %}

      {% if field.label.text == 'Your Email' or field.label.text == 'Date/Time' or field.label.text == 'User Type' %}
      <div class="col-xs-6">
        {{field(class_='form-control', disabled=true)|safe}}
        {% if field.errors %}
          {% for error in field.errors %}
            <small class="help-block">{{ error }}</small>
          {% endfor %}
        {% endif %}
      </div>
      {% else %}
      <div class="col-xs-6">
        {{field(class_='form-control')|safe}}
        {% if field.errors %}
          {% for error in field.errors %}
            <small class="help-block">{{ error }}</small>
          {% endfor %}
        {% endif %}
      </div>
      {% endif %}
    {% endif %}
  </div>
{% endmacro %}
