{% extends "home.html" %}
{% block content %}
<script type="text/javascript" src="../static/jquery-1.11.3.js"></script>
<script type="text/javascript" src="../static/jquery.legit.js"></script>
<script type="text/javascript" src="../static/loader.js"></script>
<script type=text/javascript>
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>

<script type=text/javascript>
  $(function() {
    $('a#chartHere').bind('click', function() {
      $.getJSON($SCRIPT_ROOT + '/handleQuery', {
        type: $('input[name="type"]').val(),
        recipientName: $('input[name="recipientName"]').val(),
        recipientEmail: $('input[name="recipientEmail"]').val(),
        creator: $('input[name="creator"]').val(),
        date: $('input[name="date"]').val(),
        chartType: $('input[name="option"]:checked').val(),
        sortField: $('input[name="sortField"]:checked').val()
      }, function(data) {
        console.log(data);
        var chartType = data['final']['chartType'];
        var results = data['final']['query'];
        var users = data.final.users;
        console.log(results);
        console.log(users);

        google.charts.load('current', {'packages':['corechart', 'table']});

        // Set a callback to run when the Google Visualization API is loaded.
        google.charts.setOnLoadCallback(drawChart);

        // Callback that creates and populates a data table,
        // instantiates the pie chart, passes in the data and draws it.
        function drawChart() {

          var tableData = new google.visualization.DataTable(results);
          console.log("Results", results);
          tableData.addColumn('string', 'Recipient Name');
          tableData.addColumn('string', 'Recipient Email');
          tableData.addColumn('string', 'Award Type');
          tableData.addColumn('date', 'Date');

          for(var j=0; j<users.length; j++){
            users[j].numAwards = 0;
          }

          for(var i=0;i<results.length; i++){
              var t = results[i].date.split(/[- :]/);
              var d = new Date(t[0], t[1]-1, t[2], t[3], t[4], t[5]);
              tableData.addRow([results[i].recipientName, results[i].recipientEmail, results[i].type, d] );
          }

          console.log(users);
          var chartData = new google.visualization.DataTable(results);
          chartData.addColumn('string', 'Recipient Name');
          chartData.addColumn('number', 'Number of Awards');

          for(var i=0;i<results.length; i++){
            for(j=0;j<users.length;j++){
              if(users[j].username == results[i].recipientEmail)
                users[j].numAwards++;
            }
          }
          for(i=0;i<users.length;i++){
            chartData.addRow([users[i].username, users[i].numAwards]);
          }

          // Set chart options
          var options = {'title':'Number of Awards Per Person',
                         'width':600,
                         'height':450};

          // Show results in a chart of the user's choice
          if(chartType == 'bar')
            var chart = new google.visualization.BarChart(document.getElementById('chart_div'));
          else
            var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
          chart.draw(chartData, options);

          // Show results in a table
          var table = new google.visualization.Table(document.getElementById('table_div'));
          table.draw(tableData, {showRowNumber: true, width: '70%', height: '100%'});
        }

        });
        return false;
      });
  });
</script>
<div class="container col-xs-6">
  <h3 class="text-muted">Query</h3>
  <p>Search by any of the following parameters. An empty search will return all awards.</p>
<form class="form-horizontal">
  <div class="form-group">
    <label for="type" class="col-sm-4 control-label">Award Type</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" id="type" name="type" placeholder="Award Type">
    </div>
  </div>
  <div class="form-group">
    <label for="recipientName" class="col-sm-4 control-label">Recipient Name</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" id="recipientName" placeholder="Recipient Name" name="recipientName">
    </div>
  </div>
  <div class="form-group">
    <label for="recipientEmail" class="col-sm-4 control-label">Recipient Email</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" id="recipientEmail" placeholder="Recipient Email" name="recipientEmail">
    </div>
  </div>
  <div class="form-group">
    <label for="creator" class="col-sm-4 control-label">Creator</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" id="creator" placeholder="Creator" name="creator">
    </div>
  </div>
  <div class="form-group">
    <label for="date" class="col-sm-4 control-label">Date</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" id="date" placeholder="Date" name="date">
    </div>
  </div>
  <!-- <div class="form-group">
    <label for="sort" class="col-sm-4 control-label">Sort By</label>
    <div class="btn-group col-sm-6">
      <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Select... <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li class="dropdown-item" href="#" value="recipientName">Recipient Name</li>
        <li class="dropdown-item" href="#" value="awardType">Award Type</li>
        <li class="dropdown-item" href="#" value="recipientEmail">Recipient Email</li>
        <li class="dropdown-item" href="#" value="date">Date</li>
      </ul>
      </div>
    </div> -->
    <div class="form-group">
      <label for="sort" class="col-sm-4 control-label">Sort By</label>
      <div class="btn-group col-sm-6">
        <div class="radio"><label><input type="radio" name="sortField" value="recipientName">Recipient Name</label></div>
        <div class="radio"><label><input type="radio" name="sortField" value="recipientEmail">Recipient Email</label></div>
        <div class="radio"><label><input type="radio" name="sortField" value="awardType">Award Type</label></div>
      </div>
    </div>
    <div class="form-group">
      <label for="sort" class="col-sm-4 control-label">Chart Type</label>
      <div class="btn-group col-sm-6">
        <div class="radio-inline"><label><input type="radio" name="option" value="pie">Pie</label></div>
        <div class="radio-inline"><label><input type="radio" name="option" value="bar">Bar</label></div>
      </div>
    </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-4"><a id="chartHere">
      <button type="submit" class="btn btn-default">Get Results</button></a>
    </div>
  </div>
</form>
</div>

<div class="container col-xs-6">
  <div id="chart_div"></div>
</div>
<div class="container col-xs-12">
  <h3>All Awards</h3>
  <div id="table_div"></div>
</div>


<div class="container">
</div>


{% endblock %}
