{% extends "home.html" %}
{% block content %}
<script type="text/javascript" src="../static/js/jquery-1.11.3.js"></script>
<script type="text/javascript" src="../static/js/jquery.legit.js"></script>
<script type="text/javascript" src="../static/js/loader.js"></script>
<script type="text/javascript" src="../static/js/adminQueryChart.js"></script>
<script type=text/javascript>
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>

<div class="container col-xs-6">
  <h3 class="text-muted">Query Awards</h3>
  <p>Search by one of the following parameters OR choose a default query in the blue box below.<br>An empty search will return all awards.<br>
</p>
<form class="form-horizontal">
  <div class="form-group">
    <label for="type" class="col-sm-4 control-label">Award Type</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" id="type" name="type" placeholder="Award Type">
    </div>
  </div>
  <div class="form-group">
    <label for="recipientName" class="col-sm-4 control-label">Recipient Name</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" id="recipientName" placeholder="Recipient Name" name="recipientName">
    </div>
  </div>
  <div class="form-group">
    <label for="recipientEmail" class="col-sm-4 control-label">Recipient Email</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" id="recipientEmail" placeholder="Recipient Email" name="recipientEmail">
    </div>
  </div>
  <div class="form-group">
    <label for="creator" class="col-sm-4 control-label">Creator Email</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" id="creator" placeholder="Creator" name="creator">
    </div>
  </div>
  <div style="background-color:lightcyan;">
  <div class="form-group">
    <label for="sort" class="col-sm-4 control-label">Default Queries</label>
    <div class="btn-group col-sm-6" style="background-color:lightcyan;">
      <div class="radio"><label><input type="radio" name="queryType" value="numRcvdPU">Number of awards received per user</label></div>
      <div class="radio"><label><input type="radio" name="queryType" value="numGivenPU">Number of awards given per user</label></div>
      <div class="radio"><label><input type="radio" name="queryType" value="numEachType">Number of each type of award given</label></div>
    </div>
  </div>
    <div class="form-group">
      <label for="sort" class="col-sm-4 control-label">Chart Type</label>
      <div class="btn-group col-sm-6">
        <div class="radio-inline"><label><input type="radio" name="option" value="pie">Pie</label></div>
        <div class="radio-inline"><label><input type="radio" name="option" value="bar">Bar</label></div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-default" id="exportToCSV">
      <a href="exportToCSV">Export to CSV</a>
    </button>
    <div class="col-sm-offset-2 col-sm-4"><a id="chartHere">
      <button type="submit" class="btn btn-default">Get Results</button></a>
    </div>
  </div>
</form>
</div>

<div class="container col-xs-6">
  <div id="chart_div"></div>
</div>
<div class="container col-xs-12">
  <h3>Query Results</h3>
  <div id="table_div"></div>
</div>


<div class="container">
</div>


{% endblock %}
