{% extends "home.html" %}
{% block content %}

<div class="container">

  <div class="header">
    <h3 class="text-muted">Create an Award</h3>
  </div>

  <div class="row">
    <form class="form-horizontal col-xs-6" method="post" action="{{ url_for('confirmcert') }}">
      {% from '_formhelpers.html' import render_field %}
      {{ render_field(form.awardType) }}
      {{ render_field(form.awardRecipientName) }}
      {{ render_field(form.awardRecipientEmail) }}
      {{ render_field(form.awardCreatorEmail) }}
      {{ render_field(form.awardDateTime) }}
      <div class="form-group">
        <div class="col-xs-2">&nbsp;<!-- empty for positioning --></div>
        <div class="col-xs-6"><button type="submit" href="{{ url_for('create') }}" class="btn btn-primary">Create</button></div>
      </div>
    </form>
  </div>

  <script type="text/javascript" src="../static/jquery-1.11.3.js"></script>
  <script type="text/javascript" src="../static/jquery.legit.js"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      $('form').legit({
        invalidClass: 'has-error',
        invalidSelector: '.<<id>>-holder'
      });
    });
</script>
</div>

{% endblock %}
