{% extends "home.html" %}
{% block content %}

<div class="container">

  <div class="header">
    <h3 class="text-muted">Create an Award</h3>
    <h4> {{ message }}</h4>
  </div>

  <div class="row">
    <form class="form-horizontal col-xs-6" method="post" action="{{ url_for('create') }}">
      {% from '_formhelpers.html' import render_field %}
      {{ render_field(form.awardType) }}
      {{ render_field(form.awardRecipientName) }}
      {{ render_field(form.awardRecipientEmail) }}
      {{ render_field(form.awardCreatorEmail) }}
      {{ render_field(form.awardDateTime) }}
      <div class="form-group">
        <div class="col-xs-2">&nbsp;</div>
        <div class="col-xs-6"><button type="submit" class="btn btn-primary">Create</button></div>
      </div>
    </form>
  </div>

  <script type="text/javascript" src="../static/js/jquery-1.11.3.js"></script>
  <script type="text/javascript" src="../static/js/jquery.legit.js"></script>
</div>

{% endblock %}
