{% extends "home.html" %}
{% block content %}


<div class="container">

  <!-- <div class="header">
    <h3 class="text-muted">Awards</h3>
  </div> -->

  <div class="row">
    <h3 class="text-muted">Awards Received</h3>
    <table class="table table-bordered" style="width:70%;">
      <tr><th>Type</th><th>Awarded By</th><th>Date</th>
      {% for award in received %}
      <tr>
        <td> {{ award.type }}</td>
        <td> {{ award.creatorEmail }}</td>
        <td> {{ award.date }}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
  <div class="row">
    <h3 class="text-muted">Awards Given</h3>
    <table class="table table-bordered" style="width:70%;">
      <tr><th>Type</th><th>Awarded To</th><th>Date</th>
      {% for award in given %}
      <tr>
        <td> {{ award.type }}</td>
        <td> {{ award.recipientName }} ({{ award.recipientEmail }}) </td>
        <td> {{ award.date }}</td>
      </tr>
      {% endfor %}
    </table>
  </div>

  <script type="text/javascript" src="../static/jquery-1.11.3.js"></script>
  <script type="text/javascript" src="../static/jquery.legit.js"></script>
</div>


{% endblock %}
